@using BoardGamesEShop.Client.Models.Accounts
@using BoardGamesEShop.Client.Navigations
@using BoardGamesEShop.Client.Services

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BoardGamesEShop</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        -->
        @if (AccountStore.Value is null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@Paths.Login >
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@Paths.SignUp>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sign Up
            </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@((AccountStore.Value is User)? Paths.MyAccount : Paths.Admin)">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @AccountStore.Value.Name
                </NavLink>
            </div>

            if(AccountStore.Value is User)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Paths.Cart">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cart
                    </NavLink>
                </div>
            }
            else
            if (AccountStore.Value is Admin)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Paths.ManageAccounts">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Accounts
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Paths.ManageProducts">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Products
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Paths.ManageGames">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Games
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Paths.ManageWarehouses">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Warehouses
                    </NavLink>
                </div>
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@Paths.LogOut">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log out
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    [Parameter]
    public Singleton<Account?> AccountStore { get; set; } = new(null);

}

