@using BoardGamesEShop.Client.Models.Products;                                                    
@using BoardGamesEShop.Client.Navigations

@foreach (var product in Products)
{
    <p>Showing @(Products.Count) out of @(Products.Count) items.</p><br/>

    <a href="@(Paths.Product + Paths.Backlash + product.Id)">@product.Name</a><br/>
    <label>@product.Description</label><br/>
    <label>@product.Price</label><br/>
}

@code {
    [Parameter]
    public IReadOnlyList<Product> Products { get; set; } = [];    

}
