@using BoardGamesEShop.Client.Models.Products;                                                    

@foreach (var product in Products)
{
    <p>Showing @(Products.Count) out of @(Products.Count) items.</p><br/>

    <a>@product.Name</a><br/>
    <label>@product.Description</label><br/>
    <label>@product.Price</label><br/>
    <a>Buy</a><br/>
}

@code {
    [Parameter]
    public IReadOnlyList<Product> Products { get; set; } = [];    

}
